<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.fluky.ml.fluk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING" />


    <application
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="@string/partnerKey" />
        <meta-data
            android:name="ADMOB_ALLOW_LOCATION_FOR_ADS"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3648291950784680~5684142884" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name"
            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID"

            tools:replace="android:value" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme.Bicycle"
            tools:replace="android:theme" />

        <service android:name=".complex.noti.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".complex.noti.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/firebt" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".walkth.MainActivityWalker"
            android:hardwareAccelerated="true"
            android:theme="@style/AppThemssse"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".complex.dialogs.DetailsInputDialog2"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity
            android:name=".data.QuizLoading"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/bidhome"
            android:windowSoftInputMode="adjustNothing">

        </activity>

        <activity
            android:name=".data.QuizMain"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/bidhome"
            android:windowSoftInputMode="adjustNothing">

        </activity>


        <activity
            android:name=".data.QuizLive"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/bidhome"
            android:windowSoftInputMode="adjustNothing">

        </activity>



        <activity
            android:name=".data.Quiz"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/bidhome"
            android:windowSoftInputMode="adjustNothing">

        </activity>


        <activity
            android:name=".complex.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/FFAppTheme"
            android:windowSoftInputMode="adjustNothing">

        </activity>

        <activity
            android:name=".frags.ProfileActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/yAppTheme">

        </activity>
        <activity
            android:name=".frags.SocialActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/tAppTheme">

        </activity>

        <activity
            android:name=".complex.DetailsActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentAppTheme">

        </activity>


        <activity
            android:name=".xtras.NetWorkNotAvailable"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoNetwork">

        </activity>

        <activity
            android:name=".xtras.HistoryUser"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/HistoryE">

        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="" />
    </application>
</manifest>
